* {
  margin: 0;
}

html {
  font-family: "Playfair Display", serif;
  vertical-align: baseline;
  background: linear-gradient(to right, #20002c, #cbb4d4);
}

.top {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.top h1 {
  margin-bottom: 15px;
}

.main {
  position: relative;
  height: 500px;
  width: 730px;
  margin: auto;
  padding: 10px;
}

.menu {
  position: absolute;
  top: 0;
  left: 170px;
  max-width: 100%;
  max-height: 100%;
  min-width: 350px;
  min-height: 230px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: left;
  margin-left: 30px;
}

.show-btn {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}

.show-btn {
  position: absolute;
  top: 18%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.show-btn1 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}

.show-btn1 {
  position: absolute;
  top: 28%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.show-btn2 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}

.show-btn2 {
  position: absolute;
  top: 38%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.show-btn3 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}

.show-btn3 {
  position: absolute;
  top: 48%;
  left: 35%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  display: none;
}

.container {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container1 {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container1 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.container1 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container2 {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container2 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.container2 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container3 {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container3 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.container3 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

#show:checked ~ .container {
  display: block;
}

#show1:checked ~ .container1 {
  display: block;
}

#show2:checked ~ .container2 {
  display: block;
}

#show3:checked ~ .container3 {
  display: block;
}

.close-btn:hover {
  color: red;
}

form {
  margin: 20px;
}
label {
  display: block;
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

input {
  display: block;
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  padding: 10px;
  color: white;
}

button.popup {
  display: block;
  width: 95%;
  padding: 8px;
  border: none;
  outline: none;
  background: linear-gradient(to right, #cbb4d4, #20002c);
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #20002c;
}

.link {
  margin-top: 30px;
  text-align: center;
  color: white;
}

a:hover {
  text-decoration: underline;
}
