h1 {
    color: rgb(142, 195, 195);
    font-size: 50px;
}



* {
    text-align: center;
}

div{
    margin-bottom: 37px ;
    font-size: 20px;
}


table, tr, td{
    border: 1px solid;
    height: 30px;
    font-size: 15px;

}

table{
    margin: auto;
    background-color: aquamarine;
    width:80%;
}

.title{
    font-size: 20px;
    font-weight: bold;

}

button{
    margin: 10px;
    width: 70px;
    height: 70px;
}
