* {
  margin: 0;
}

html {
  font-family: "Playfair Display", serif;
  vertical-align: baseline;
  background: linear-gradient(to right, #20002c, #cbb4d4);
  margin: relative;
}

.top {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.top h1 {
  margin-bottom: 15px;
}

.main {
  position: relative;
  height: 500px;
  width: 730px;
  margin: auto;
  padding: 10px;
}

.menu {
  position: absolute;
  top: 0;
  left: 170px;
  max-width: 100%;
  max-height: 100%;
  min-width: 350px;
  min-height: 230px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: left;
  margin-left: 30px;
}


#function {
  margin: auto;
  width: 350px;
  height: 230px;
  margin-left: 50px;
}





.show-btn {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}



.show-btn1 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}


.show-btn2 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}



.show-btn3 {
  padding: 10px 20px;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.25);
  width: 120px;
  height: 40px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  display: inline-block;
  font-weight: 600;
}

.show-btn3, .show-btn2, .show-btn1, .show-btn {
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  display: none;
}

.container {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid rgba(0, 249, 255, 0.5);
}
.container {
  position: absolute;
  top: 20%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.container .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container1 {
  display: none;
  width: 70%;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid rgba(0, 249, 255, 0.5);
}
.container1 {
  position: absolute;
  top: 30%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.container1 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container2 {
  display: none;
  width: 70%;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.9);
  border: 3px solid rgba(0, 249, 255, 0.5);
}
.container2 {
  position: absolute;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.container2 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

.container3 {
  display: none;
  width: 350px;
  padding: 20px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container3 {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}
.container3 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
}

#show:checked ~ .container {
  display: block;
}
#show:checked ~ .container1{
  display: none;
}

#show1:checked ~ .container1 {
  display: block;
}

#show2:checked ~ .container2 {
  display: block;
}

#show3:checked ~ .container3 {
  display: block;
}

.close-btn:hover {
  color: red;
}

form {
  margin: 20px;
}
label {
  display: block;
  color: Black;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom:10px ;
}





a {
  text-decoration: none;
  color: #20002c;
}

.link {
  margin-top: 30px;
  text-align: center;
  color: white;
}

a:hover {
  text-decoration: underline;
}






#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 88.3%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  color: black;
}

#myDish {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myDish li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  text-align: center;
}

#myDish li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

label .container1{
  font-size: medium;
}





#AllDish {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#AllDish li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
  text-align: center;
}

#AllDish li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
